<%- include('../header', {title}) %>

<a href="<%= newPath %>" class="addMsgBtn"><span><%= btnMsg  %></span></a>
<section class="index">
    <% if (locals.msg) { %>
        <% for (let i = 0; i < msg.length; i++) { %>

            <a href="/messages/<%= msg[i].id %>" class="messageCard">
                <article class="messageCard Details">
                    <div class="userTime">
                        <h2><%= msg[i].username %></h2>
                        <p><%= msg[i].date.toDateString() %></p>
                    </div>
                    <p><%= msg[i].message %></p>
                </article>
            </a>

        <% } %>
    <% } %>
</section>
</main>

<%- include('../footer') %>