<%- include('../header', {title}) %>

<a href="<%= newPath %>" class="addMsgBtn"><span><%= btnMsg  %></span></a>
<section class="index">
    <% for (let i = 0; i < messages.length; i++) { %>

        <a href="/messages/<%= messages[i].id %>" class="messageCard">
            <article class="messageCard Details">
                <div class="userTime">
                    <h2><%= messages[i].user %></h2>
                    <p><%= messages[i].added.toDateString() %></p>
                </div>
                <p><%= messages[i].text %></p>
            </article>
        </a>

    <% } %>
</section>
</main>

<%- include('../footer') %>