<%- include('../header', {title}) %>

<section class="msg_id">
    <div class="userTime">
        <h2><%= user %></h2>
        <p><%= added %></p>
    </div>
    <p><%= text %></p>
</section>
</main>

<%- include('../footer') %>